@model Domain.Models.Post

@{
    if (Model == null)
    { 
        ViewBag.Title = "Add post";
    }
    else
    {
        ViewBag.Title = "Edit post";
    }           
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        @Html.TextAreaFor(m => m.PostContent, new { @class = "col-md-12 disable-max-width-setting", rows = "20" })
        @Html.ValidationMessageFor(m => m.PostContent)
    </div>
    <div class="col-md-3">
        <input type="submit" class="btn btn-block btn-success" value="Submit" />
    </div>
    <div>
        @Html.ActionLink("Cancel", MVC.Thread.Index((int)ViewBag.ThreadId, null))
    </div>
    @*@Html.HiddenFor(m => m.Id)*@
    @*@Html.HiddenFor(m => m.ThreadId)*@
}


