@model Domain.Models.Post

@{
    bool isAdministrator = User != null && User.IsInRole("Administrator");
<div class="post-container">
    <div class="post-head">
        <div class="thread-title"> @Html.DisplayFor(m => m.Thread.Title)</div>

        @Html.ActionLink(Model.User.Name, MVC.User.ShowProfile(Model.AuthorId))
        @Html.DisplayFor(m => Model.CreationDate)
    </div>
    <div class="post-content">
        @Html.DisplayFor(m => Model.PostContent)
    </div>
    @if (isAdministrator)
    {
            <div class="form-actions no-color">
                @Html.ActionLink("Warn", MVC.Warning.Warn(Model.Id))
                @Html.ActionLink("Inbox", MVC.Message.Index(Forum.Controllers.MessageController.MailboxType.Inbox.ToString(), null, null))
            </div>
    }
</div>
}
