@model IPagedList<Domain.Models.Message>

@using PagedList;
@using PagedList.Mvc;
@using Forum.AjaxHelpers;

<script type="text/javascript" language="javascript">
    function Mark(id)
    {
        var body = $('#idBody');
        var bodyId = 'body' + id;
        body.html($('#' + bodyId).val());
        body.addClass('table-bordered');
        var header = '#row' + id;
        $(header +' td').removeClass('message-unread-header').addClass('message-header');
    }
</script>


@if (ViewBag.Type == Forum.Controllers.MessageController.MailboxType.Inbox.ToString())
{
    <h1>Inbox</h1>
}
else
{
    <h1>Sent</h1>
}


@Html.ActionLink("New message", MVC.Message.Send())

<table class="my-table">
    <tr>
        @if (ViewBag.Type == Forum.Controllers.MessageController.MailboxType.Inbox.ToString())
        {
            <td class="td1">
                Sender
            </td>
        }
        else
        {
            <td class="td1">
                Recipient
            </td>
        }
        <td class="td1">
            Subject
        </td>
        <td class="td1">
            Sent date
        </td>
        <td class="td1">
            Action
        </td>
    </tr>
    @foreach (var item in Model)
    {
        bool isInbox = ViewBag.Type == Forum.Controllers.MessageController.MailboxType.Inbox.ToString();
        string messageClass = "message-unread-header";
        if (!isInbox || item.IsRead) 
        {
           messageClass = "message-header";        
        }
        <tr id="@("row" + item.Id)">
        @if (isInbox)
        {
            <td class="td1 @messageClass">
                @Html.DisplayFor(m => item.User.Name)
            </td>
        }
        else
        {
            <td class="td1 @messageClass">
                @Html.DisplayFor(m => item.User1.Name)
            </td>
        }
            <td class="td1 @messageClass">
                @Html.Raw(item.Subject)
            </td>
            <td class="td1 @messageClass">
                @Html.DisplayFor(m => item.SentDate)
            </td>
            <td class="td1">
                 @Ajax.ImageActionLink(new Image { altText = "Read", height = "25", width = "32", imageUrl = @Links.Content.Images.email_jpg, title="Read" }, MVC.Message.Read(item.Id), new AjaxOptions()
           {
               HttpMethod = "GET",
               OnSuccess = String.Format("Mark({0})", item.Id)
           })  
            
            @Html.HiddenFor(m => item.Body, new { @id = "body" + item.Id})
                       @Html.ActionLink("Delete", MVC.Message.Delete(item.Id))</td>
        </tr>
    }

</table>

<div id="idBody" class="col-md-6 disable-max-width-setting" style="height: 200px">
</div>
<div id="idLoading" style="display:none">
    <img src="~/Images/spinner.gif" />
</div>

@Html.PagedListPager(Model, page => Url.Action(MVC.Message.Index( (string)ViewBag.Type, page)),
new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
