@model IEnumerable<Domain.Models.V_Categories>

@Html.ActionLink("Search", MVC.Home.Search())

<table class="my-table">
    <tr>
        <td class="td1">
            Category name
        </td>
        <td class="td1">
            Threads
        </td>
        <td class="td1">
            Posts
        </td>
        <td class="td1">
            Last post
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="td1">
                @Html.ActionLink(item.Name, MVC.Category.Index(item.Id, null))
                <br />
                @Html.DisplayFor(m => item.Description)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.ThreadsNumber)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.PostsNumber)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.LastPost)
            </td>
        </tr>
    }

</table>

