<!DOCTYPE html>
@{
    ViewBag.Title = "Forum";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
                    <li>@Html.ActionLink("About", MVC.Home.About())</li>
                    <li>@Html.ActionLink("Contact", MVC.Home.Contact())</li>
                </ul>

                @if (User == null || !User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li> @Html.ActionLink("Login", MVC.User.Login()) </li>
                        <li> @Html.ActionLink("Register", MVC.User.Register()) </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Witaj @User.Identity.Name!<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li> @Html.ActionLink("Log off", MVC.User.LogOff()) </li>
                                <li> @Html.ActionLink("My profile", MVC.User.ShowProfile()) </li>
                                <li> @Html.ActionLink("Inbox", MVC.Message.Index(Forum.Controllers.MessageController.MailboxType.Inbox.ToString(),null, null), null)</li>
                                <li> @Html.ActionLink("Sent", MVC.Message.Index(Forum.Controllers.MessageController.MailboxType.Sent.ToString(), null, null), null)</li>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li> @Html.ActionLink("Administer categories", MVC.User.AdministerCategories())</li>
                                    <li> @Html.ActionLink("Administer users", MVC.User.Index())</li>
                                }
                                <li> @Html.ActionLink("Gallery", MVC.Gallery.Index()) </li>
                            </ul>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </div>

    <div class="container body-content margin-top">
        @RenderBody()
    </div>

    <div style="padding-right:0px; padding-top:0px;" class="h5 pull-right">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/ajax")*@
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    

</body>
</html>
