@model Domain.Models.User

<div class="login-wrap form-horizontal">
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-3" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-3" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-3" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Location, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfWarnings, new { @class = "col-md-3" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.NumberOfWarnings, new { @class = "form-control" })
            @if (Model.IsBanned)
            {
                <div class="ban">You are banned</div>
            }
        </div>
    </div>


    if (Model.AvatarId != null)
    {
    <div class="form-group">
        @Html.Label("Avatar", new { @class = "col-md-3" })
        <div class="col-md-10">
            <img src='@Url.Action(MVC.User.RenderPhoto(Model.AvatarId ?? -1))' alt="avatar">
        </div>
    </div>
    }

    <div class="col-md-3 form-group">
        @if (Model.Id == User.Id)
        {
            <button class="btn btn-warning btn-block" type="button" onclick="location.href='@Url.Action(MVC.User.EditProfile(Model.Id))'">Edit profile</button>
            <button class="btn btn-primary btn-block" type="button" onclick="location.href='@Url.Action(MVC.User.MyPosts())'">Show my posts</button>
        }
        
    </div>
}
</div>