@model Domain.Models.Message

<script type="text/javascript">
    $(document).ready(function () {
        var divDialog = $('div[title="Dialog-report"]');
        divDialog.dialog({
            autoOpen: false,
            title: 'Report'
        });

        $('.report-button').click(function () {
            var id = $(this).attr('id').replace('report', 'dialog-report');
            $('#'+id).dialog('open');
        });

        $('input[data-value="rCancel"]').click(function () {
            var id = $(this).attr('id').replace('rCancel', 'dialog-report');
            $('#'+id).dialog('close');
        });
    });
</script>


<button id="@("report" + ViewData["postId"])" class="btn btn-danger report-button">Report</button>

<div id="@("dialog-report" + ViewData["postId"])" title="Dialog-report">
    @using (Html.BeginForm("Send", "Message"))
    {
        @Html.AntiForgeryToken()
            @Html.Label("What is wrong with that post?")

            <div class="col-md-12">
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Body) <br />
            </div>
            @Html.HiddenFor(m => m.Subject)

            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-success" value="Send" />
            </div>
            <div class="col-md-6">
                <input type="button" class="btn btn-block btn-warning" id="@("rCancel" + ViewData["postId"])" data-value="rCancel" value="Cancel" />
            </div>

    }
</div>
