@model IEnumerable<Forum.Models.Post>

<div class="thread-container">
    @foreach (var item in Model)
    {
        <div class="post-container">
            <div class="post-head">
                <div class="thread-title"> @Html.DisplayFor(m => item.Thread.Title)</div>
                @Html.DisplayFor(m => item.User.Name)
                @Html.DisplayFor(m => item.CreationDate)
            </div>
            <div class="post-content">
                @Html.DisplayFor(m => item.PostContent)
            @if (item.AuthorId == ViewBag.UserId)
            {
                <button class="btn btn-success edit-button" type="button" onclick="location.href='@Url.Action("EditPost", "Post", new { id = item.Id})'">Edit</button>
            }
            </div>
        </div>
    }
</div>
<div class="col-md-10 form-group">
    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("AddPost", "Post", new { threadId = ViewContext.RouteData.Values["id"] })'">Reply</button>
</div>