@model Forum.ViewModels.UserRegisterViewModel

@using Forum.Models

@{
    ViewBag.Title = "Registration";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('img').mouseover(function () {
            var imgId = $(this).attr('id');
            var divId = imgId.replace('img', 'div');
            $('#' + divId).fadeIn(500);
        }).mouseout(function () {
            var imgId = $(this).attr('id');
            var divId = imgId.replace('img', 'div');
            $('#' + divId).fadeOut(500);
        });

        $('#showPassword').click(function () {
            $('#password').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });
    });
</script>

<h2>Register</h2>

<div class="login-wrap form-horizontal">
    @using (Html.BeginForm(MVC.User.Register(), FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-3" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <img id="imgName" src="@Links.Content.Images.help_jpg" height="25"/>
                <div id="divName" class="help-text">Your username in forum</div>
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password" })
                <img id="imgPassword" src="@Links.Content.Images.help_jpg" height="25" /><br />
                @Html.CheckBox("showPassword", new { id = "showPassword" })
                Show password
                <div id="divPassword" class="help-text">Set this to protect your account</div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <img id="imgConfirmPassword" src="@Links.Content.Images.help_jpg" height="25" />
                <div id="divConfirmPassword" class="help-text">Type your password again</div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <img id="imgEmail" src="@Links.Content.Images.help_jpg" height="25" />
                <div id="divEmail" class="help-text">Provide your e-mail adress</div>
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Location, new { @class = "col-md-3" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                <img id="imgLocation" src="@Links.Content.Images.help_jpg" height="25" />
                <div id="divLocation" class="help-text">Where do you live?</div>
                @Html.ValidationMessageFor(m => m.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Avatar", new { @class = "col-md-3" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
                <img id="imgAvatar" src="@Links.Content.Images.help_jpg" height="25" />
                <div id="divAvatar" class="help-text">Upload your avatar</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-block btn-success" value="Sign up" />
            </div>
        </div>
    }
</div>



