@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Category/Index";
}

@model IPagedList<Domain.Models.V_Threads>


<table class="my-table">
    <tr>
        <td class="td1">
            Thread name
        </td>
        <td class="td1">
            Author and date of last post
        </td>
        <td class="td1">
            Last post
        </td>
        <td class="td1">
            Posts
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="td1">
                @Html.ActionLink(item.Title, MVC.Thread.Index(item.Id, null), null)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.WhenAddedLastPost) by @Html.DisplayFor(m => item.WhoAddedLastPost)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.LastPost)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.PostsNumber)
            </td>
        </tr>
    }

</table>

@if (User != null && User.Identity.IsAuthenticated)
{ 
    <div class="col-md-10 form-group">
        <button class="btn btn-success" type="button" onclick="location.href='@Url.Action(MVC.Thread.AddThread(int.Parse(ViewContext.RouteData.Values["id"].ToString())))'">Add new thread</button>
    </div>
}


@Html.PagedListPager(Model, page => Url.Action(MVC.Category.Index(int.Parse(ViewContext.RouteData.Values["id"].ToString()), page )),
new PagedListRenderOptions() {Display = PagedListDisplayMode.IfNeeded })
@Html.ActionLink("Back to categories", MVC.Home.Index())